<section id="userShow">
  <%= render 'shared/user_navbar' %>
  <div class="container" id="user-show__body">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key} container" %>
    <% end %>

    <div class="row no-gutters">
      <%= render 'shared/user-info' %>

      <%= render 'shared/feed' %>
    </div>
  </div>
</section>