// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
$primary-color: #1B95E0;

/* misc */ 

#error_explanation {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  h2 {
    font-size: 1.1em;
  }
}

.alert-alert {
  margin-top: 30px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-notice {
  margin-top: 30px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.label {
  margin-bottom: 8px;
}
.field_with_errors {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  input {
    border: 1px solid red;
  }
}

/* body */

body {
  background: #F8F9FA;
}

/* Header */

nav {
  background: #fff;
  -webkit-box-shadow: 0 .25rem .125rem 0 rgba(0,0,0,.05);
  box-shadow: 0 .25rem .125rem 0 rgba(0,0,0,.05);
  .nav {
    display: flex;
    .link-home {
      line-height: 1;
      font-size: 30px;
      color: #66757F;
      display: flex; 
      flex-direction: row;
      align-items: center;
    }
    .link-post {
      a {
        color: $primary-color;
      }
      &:hover {
        border-bottom: none!important;
      }
    }
    .nav-link {
      padding: 5px 0;
      display: flex; 
      align-items: center;
    }
    .nav-item {
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      align-items: center;
    }
    .item-link {
      padding: 0 15px;
      span {
        font-size: 17px;
        margin-left: 8px;
      }
      &:hover {
        border-bottom: 2px solid #1B95E0;
      }
    }
    .active {
      border-bottom: 2px solid #1B95E0;
      .link-home {
        color: #1B95E0;
      }
    }
    .avatar-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: rgba(255, 255, 255, 0.5);
      .header-avatar {
        width: 30px;
      }
    }
    .dropdown {
      display: flex;
      a { color: #66757F; }
      i { margin-right: 10px; }
      .dropdown-header {
        display: block;
        font-size: 1.2em;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: bold;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        &:hover, &:active {
          background-color: #fff!important;
          color: #212529!important;
          text-decoration: none;
        }
      }
      .dropdown-item {
        &:hover, &:active {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
    .dropdown-menu {
      min-width: inherit;
    }
    .lang {
      width: 20px;
    }
  }
}

/* Sign page */

#sign {
  .sign-form {
    display: flex;
    justify-content: center;
    div {
      margin-right: 10px;
    }
    .form-control {
      width: inherit;
    }
  }
  .sign-form-xs {
    div {
      margin-bottom: 10px;
    }
    label {
      margin-bottom: 0!important;
    }
    .form-control {
      min-width: 100%;
    }
  }
}